@model IEnumerable<ContatosModel>
<h1>Cadastro de Contatos</h1>

<table class="table table-hover">
   
        <thead>
            <tr>
                
                <th scope="col">Nome</th>
                <th scope="col">Telefone</th>
                <th scope="col">Email</th>
            </tr>
        </thead>

        <tbody>
    @if(Model != null)
    {
        @foreach(var contato in Model)
        {
            <tr>
                
                <td scope="row">@contato.Nome</td>
                <td>@contato.Telefone</td>
                <td>@contato.Email</td>
            </tr>
            
        }

    }

           
        </tbody>
    
</table>